.control-panel {
    background-color: #282828;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    display: inline-block;
    border-radius: 0.5rem;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.button {
    width: 4rem;
    height: 4rem;
    background-color: #2d3748;
    color: #fbbf24;
    border-radius: 9999px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.sub-label {
    color: white;
    font-size: 0.78rem;
    position: absolute;
    bottom: 0.25rem;
}

.button-divider {
    position: absolute;
    left: 8px;
    right: 8px;
    bottom: 1.9rem;
    height: 3px;
    background-color: white;
}

.fnc-rst-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.fnc-rst-button .sub-label {
    position: static;
}

.arrow-button {
    position: relative;
}

.arrow {
    position: absolute;
    font-size: 0.75rem;
}

.arrow.down {
    bottom: 0.25rem;
}

.arrow.up {
    top: 0.25rem;
}

.arrow.right {
    right: 0.5rem;
}

.ers-container {
    position: relative;
    margin-top: 0.25rem;
}

.ers-lines {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 5rem;
    display: flex;
    justify-content: space-between;
}

.ers-line {
    width: 2rem;
    height: 1px;
    background-color: white;
}

.ers-text {
    color: white;
    font-size: 0.75rem;
    text-align: center;
}