.status-display {
    font-family: 'Courier New', monospace;
    color: #002942;
    background-color: #55521f;
    padding: 10px;
    border-radius: 5px;
    width: 330px;
}

.status-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.status-row-other {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.top-row {
    align-items: center;
}

.status-item {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.volume-item {
    align-items: flex-start;
}

.client-id-item {
    align-items: flex-end;

}

.status-label {
    font-size: 12px;
    margin-bottom: 2px;
}

.status-value {
    font-size: 16px;
    font-weight: bold;
}

/* Style for the bottom row */
.status-row:last-child .status-item {
    align-items: center;
}

.status-row:last-child .status-label {
    font-size: 12px;
}

.status-row:last-child .status-value {
    font-size: 14px;
}