body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #121212;
    overflow: hidden; /* Prevent scrolling on the body */

}

.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}


.main {
    margin-top: 60px;
}

.main-page-name
{
    display: flex;
    justify-content: center;
    align-items: center;


}
.main-box {
    background-color: #282828;
    border-radius: 8px;
    padding: 40px;
    width: 450px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.main-page__logo {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.main-page__title {
    color: #ffffff;
    font-size: 28px;
    margin-bottom: 20px;
}

.main-page__client-id {
    color: #1DB954;
    font-size: 20px;
}

.main-page__button {
    background-color: #1DB954;
    color: white;
    border: none;
    border-radius: 500px;
    padding: 14px 32px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
}

.main-page__button:hover {
    background-color: #1ed760;
}

.main-page__button--transmitting {
    background-color: #E91429;
}

.main-page__button--transmitting:hover {
    background-color: #ff1e3c;
    color: #6a0000;
}

.main-page__button--disconnect {
    background-color: #535353;

}

.main-page__button--disconnect:hover {
    background-color: #6a0000;
    color: black;
}

.main-page__channel-select {
    margin-top: 20px;
    text-align: left;
}

.main-page__select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #3E3E3E;
    color: white;
    border: none;
    margin-top: 5px;
}

.main-page__select-label {
    color: #b3b3b3;
    font-size: 14px;
}